<web-app>
    <servlet>
        <servlet-name>lannister</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>lannister</servlet-name>
        <url-pattern>/lannister/*</url-pattern>
    </servlet-mapping>
</web-app>